body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ececec;
}
@media only screen and (max-width: 768px) {
    img{    
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}
img{
    width:260px;
    height:auto;
    text-align: left;
} 
div.form {
    display:block;
    text-align: center;
}
form {
    display: inline-block;
    margin: auto;
    text-align: left;
}
input[type=username], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid lightgray;
}
button{
    width: 150px;
    text-align: center;
    background-color: #2596be;
    color: white;
    border: none;
    padding: 10px 15px;
}
button:hover{
    background-color: #36454f;
    transition-duration: 0.8s;
}
a[type=forgot] {
    color: #2596be;
    border-right: 1px solid black;
    padding-right: 5px;
}
a[type=forgot]:hover{
    text-decoration: underline;
}
a[type=unregistered]{
    color: #2596be;
}
a[type=unregistered]:hover{
    text-decoration: underline;
}
label[for=email], label[for=psw], label[for=chckbx]{
    font-weight: lighter;
    font-size: small;
}
