 body{
        
      font-family: Arial, Helvetica, sans-serif;
      background-color: #ececec;
    }
   
   #stickybar{

        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        font-size: 25px;
        background-color: #ececec;
        color: #29b4be;
      
    }

    h1{
    color: #29b4be;
    text-align: center;
    margin-top: 1%;
    font-size: 40px;
    
    }
    
    .container{
    
    text-align: center;
    vertical-align: middle;
    margin-top: 10%;
    
    }
    
    #one{
    
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    
    }
    
    #two {
        text-align: left;
        font-size: 20px;
    }

    .topnav {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        text-align: center;
      }
      
      .topnav li {
        display: inline;
       
      }
      
      .topnav li a {
        display:inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      /* Change the link color to #111 (black) on hover */
      li a:hover {
        background-color: #111;
      }

      .column1 {

        text-align: left;
        font-size: 20px;
        margin: 0 auto;
        width: 30%;
      }

    div.form {

        display:block;
        text-align: center;
    }

    form {
        display: inline-block;
        margin: auto;
        text-align: left;
    }

    button{
        
      
        vertical-align: middle;
        width: 150px;
        text-align: center;
        background-color: #2596be;
        color: white;
        border: none;
        padding: 10px 15px;
    }
    button:hover{

        background-color: #36454f;
        transition-duration: 0.8s;
    }

    #Broadband{


      vertical-align: middle;
      width: 250px;
      height: 250px;
      text-align: center;
      background-color: #2596be;
      color: white;
      border: none;
      padding: 10px 15px;
      word-wrap: break-word;

    }

    #Broadband:hover{

      background-color: #36454f;
      transition-duration: 0.8s;
  }

    #Landline{

      vertical-align: middle;
      width: 250px;
      height: 250px;
      text-align: center;
      background-color: #2596be;
      color: white;
      border: none;
      padding: 10px 15px;

    }

    #Landline:hover{


        background-color: #36454f;
        transition-duration: 0.8s;
    }
    }
    a[type=forgot] {

        color: #2596be;
        border-right: 1px solid black;
        padding-right: 5px;
    }
    a[type=forgot]:hover{

        text-decoration: underline;
    }
    a[type=unregistered]{

        color: #2596be;
    }
    a[type=unregistered]:hover{

        text-decoration: underline;
    }
    label[for=email], label[for=psw], label[for=chckbx]{

        font-weight: lighter;
        font-size: small;
        text-align: center;
    }
    
    #footer{

      display:flex;
      color: white;
      align-items: center;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      justify-content:center;
      align-items:center;

    }
    .footer {

      background-color: #333;
      height: 50px;
      margin-top:40%;
    }
    
    #stickybar a {

      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    #stickybar a:hover {
      background-color: #ddd;
      color: black;
    }
    
    #stickybar.active {
      background-color: #4CAF50;
      color: white;
    }
    
    .content {
      padding: 16px;
    }
    
    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
    }
    
    .sticky + .content {
      padding-top: 60px;
    }

    .box{

      vertical-align: middle;
      text-align: center;
      background-color: #2596be;
      color: white;
      border: none;
      padding: 10px 15px;

    }

    .button{

     
    }